extends base

block bodyContent
    .profile-container#orders
        .container-tabs#tabs-orders
            h2
                a.tabs(href='/account/profile') My Account
            h2
                a.tabs.active-tab(href='/account/orders') orders &amp; returns
            h2
                a.tabs(href='/account/payment-info') payment info
            h2
                a.tabs(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .orders-container
            for order in orders
                .order
                    .order-data
                        h2
                            span= `$${order.allTotal/100}`
                        #right-side
                            h2
                                | Order Number: 
                                span#order-number= order.order_number
                            h3#order-date=`${months[order.order_date.date_keys.month]} ${order.order_date.date_keys.date}, ${order.order_date.date_keys.year}`
                    for item in order.product_info
                        .item-data
                            .item-card
                                img#item-image(src=`/product-images/${item.category.toLowerCase()}/${item.subCategory.toLowerCase()}/${item.images[0]}` alt='')
                            .middle-data
                                h2#image-title=item.name
                                h2#status=order.status
                                h2(style='font-size: 12px')
                                    | size: 
                                    span#quantity=item.size.toUpperCase()
                                h2(style='font-size: 12px')
                                    | quantity: 
                                    span#quantity=item.qty
                            .total-data
                                h2
                                    | $
                                    span#item-total= item.total