extends base
block append head
    script(src='/controllers/accountController.js' type='module')

    - var meow= 'hi'
block bodyContent
     .profile-container
        .container-tabs
            h2
                a.tabs(href='/account/profile') My Account
            h2
                a.tabs(href='/account/orders') orders &amp; returns
            h2
                a.tabs.active-tab(href='/account/payment-info') payment info
            h2
                a.tabs(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .payment-methods
            h2#payment-title(style='text-align: center') payment methods
            if user.userCards[0]
                each card,index in cards
                    .payment-item
                        .payment-row-0
                            img.payment-img(src=`/Images/Card Placeholder/card-${card.firstOne==4||card.firstOne==5||card.firstOne==6?card.firstOne:0}.png` alt='' srcset='')
                            .card-info
                                h2= card.cardHolder
                                h2= '************'+`${card.lastFour}`
                                h2=`${card.expiration}`
                        h2.edit-delete
                            //- span#edit-card(data-info=`${index}`) edit
                            //- |  |
                            span#delete-card(data-info=`${index}`) delete
            h2#add-card Add card
