extends base
block append head
    script(src='/controllers/accountController.js' type='module')


block bodyContent
    .profile-container
        .container-tabs
            h2
                a.tabs(href='/account/profile') My Account
            h2
                a.tabs(href='/account/orders') orders &amp; returns
            h2
                a.tabs(href='/account/payment-info') payment info
            h2
                a.tabs.active-tab(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .container-user-info(style='width: 70%')
            h2#shipping shippping information
            if user.userShipping[0]
                each ship,index in shipping
                    #shipping-primary.shipping-info
                        h2= `${ship.firstName} ${ship.lastName}`
                        #info-small
                            h3#street= ship.addressOne
                            h3#zip= `${ship.city},${ship.state} ${ship.zipcode}`
                            h2.edit-delete(style='margin-left: 0px')
                                span#delete-shipping(data-index=index) delete
            h2#add-address(style='height: fit-content') Add address
