extends base
block append head
    script(src='/controllers/accountController.js' type='module')

block bodyContent
    .profile-container
        .container-tabs
            h2
                a.tabs.active-tab(href='/account/profile') My Account
            h2
                a.tabs(href='/account/orders') orders &amp; returns
            h2
                a.tabs(href='/account/payment-info') payment info
            h2
                a.tabs(href='/account/shipping-info') shipping info
            h2
                a.tabs(href='/account/wishlist') wishlist
            h2
                a.tabs(href='/account/email-preferences') email preferences
            h2
                a.tabs(href='/account/reset-password') password
        .container-user-info
            h2#username-holder your information
            form#user-info(action='')
                .user-div
                    .inp-div
                        label#label-text(for='first-profile')  first name
                        if user.firstName 
                            input#first-profile(type='text' value=`${user.firstName.charAt(0).toUpperCase() + user.firstName.slice(1)}` name='first-profile')
                        else
                            input#first-profile(type='text' name='first-profile')
                    .inp-div
                        label#label-text(for='last-profile')  last name
                        if user.lastName
                            input#first-profile(type='text' value=`${user.lastName.charAt(0).toUpperCase() + user.lastName.slice(1)}` name='last-profile')
                        else
                            input#last-profile(type='text' name='last-profile')
                    .inp-div
                        | Email Address
                        label#email-text(for='email-profile')
                        if user.emailAddress
                            input#email-profile(type='text' value=`${user.emailAddress}` name='email-profile' disabled='')
                            
                        else    
                            input#email-profile(type='text' name='email-profile' disabled='')
                    .inp-div
                        label#label-text(for='number-profile')  phone
                        if user.phoneNumber
                            input#number-profile(type='tel' name='number-profile' value=`${user.phoneNumber}`)
                        else
                            input#number-profile(type='tel' name='number-profile')
                    .inp-div
                        label#label-text(for='birthday-profile')  birthday
                        br
                        if user.birthDay
                            input#birthday-profile(type='date' name='birthday-profile' value=`${user.birthDay}`)
                        else
                            input#birthday-profile(type='date' name='birthday-profile')
                    br
                    h2 size information
                    br
                    .inp-div(style='border: none')
                        label(for='bra-size')  bra size
                        if user.braSize=='XS'
                            select#bra-size(name='bra-size' value=`${user.braSize}`)
                                option(value='XS' selected) XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                        else if user.braSize=='S'
                            select#bra-size(name='bra-size' value=`${user.braSize}`)
                                option(value='XS') XS
                                option(value='S' selected) S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                        else if user.braSize=='M'
                            select#bra-size(name='bra-size' value=`${user.braSize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M' selected) M
                                option(value='L') L
                                option(value='XL') XL
                        else if user.braSize=='L'
                            select#bra-size(name='bra-size' value=`${user.braSize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L' selected) L
                                option(value='XL') XL
                        else if user.braSize=='XL'
                            select#bra-size(name='bra-size' value=`${user.braSize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL' selected) XL
                        else
                            select#bra-size(name='bra-size')
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                    .inp-div(style='border: none')
                        label(for='bralette-size')  bralette size
                        if user.braletteSize
                            select#bralette-size(name='bralette-size' value=`${user.braletteSize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                        else
                            select#bralette-size(name='bralette-size')
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                    .inp-div(style='border: none')
                        label(for='panty-size')  panty size
                        if user.pantySize
                            select#panty-size(name='panty-size' value=`${user.pantySize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                        else
                            select#panty-size(name='panty-size')
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                    .inp-div(style='border: none')
                        label(for='lingerie-size')  lingerie size
                        if user.lingerieSize
                            select#lingerie-size(name='lingerie-size' value=`${user.lingerieSize}`)
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                        else
                            select#lingerie-size(name='lingerie-size')
                                option(value='XS') XS
                                option(value='S') S
                                option(value='M') M
                                option(value='L') L
                                option(value='XL') XL
                button#update-basic.noire-btn(type='submit')
                    | Update