extends base
block  append head
    link(rel="stylesheet", href="style.css")
    script(src='/controllers/shopController.js' type='module')
    script(src='/controllers/cartController.js' type='module')
    script(src='https://code.jquery.com/jquery-3.6.1.js' integrity='sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=' crossorigin='anonymous')
    title=`Noire | Cart`
block bodyContent
    .cart-container
        .cart-left
            .cart-left__inner
                for item,index in cartItems
                    .cart-product
                        img(src=`/product-images/${item.category.toLowerCase()}/${item.subCategory.toLowerCase()}/${item.images[0]}`, alt="", srcset="")
                        .small-info
                            .small-info-text
                                h2= item.name
                                h4 color: 
                                    span= item.color  
                                h4 size: 
                                    span= item.size
                                form#myform__cart.quantity
                                    input.qtyminus__cart.minus(type='button' value='-' field='quantity')
                                    input.qty__cart(type='text' name='quantity' value=item.qty )
                                    input.qtyplus__cart.plus(type='button' value='+' field='quantity')
                        h2= `$${item.total}` 
                        h4.cart-remove remove 
        .cart-right
            .cart-right__inner
                h2.summary-title Order Summary 
                .promo-code
                    input#promo(type="text", name="promo-code" placeholder='Promo code')
                    button.promo-btn(type="submit") Submit 
                h2.promo-name promo--name
                .sub-total
                    h2 Subtotal  
                    h2= `150`
                .discount
                    h4 Discount  
                    h4= `-23`
                .tax
                    h4 Tax  
                    h4= `15`
                .total
                    h2 Total  
                    h2= `167`
                .checkout
                    button.check-out__btn Proceed to checkout
                    button.continue-shop__btn Continue Shopping
