extends base
block append head
    script(src='/controllers/shopController.js' type='module')
    
    script(src='https://code.jquery.com/jquery-3.6.1.js' integrity='sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=' crossorigin='anonymous')
    title=`Noire | ${params.subCat?params.subCat.charAt(0).toUpperCase() + params.subCat.slice(1):params.category.charAt(0).toUpperCase() + params.category.slice(1)}`

block bodyContent
    if !params.subCat
        a(href=`/shop/${params.category}-special`, target="_self", rel="noopener noreferrer") 
            img.special-banner(src=`/Images/specials-banners/${params.category}-special-banner.jpg`, alt="", srcset="")
    .top-row-shop
        .top-left
            if params.subCat
                nav.crumb-container(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='/') Noire 
                        li.breadcrumb-item
                            a(href=`/shop/${params.category}`)=params.category 
                        li.breadcrumb-item.active(aria-current='page')= params.subCat
            else
                nav.crumb-container(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='/') Noire 
                        li.breadcrumb-item.active=params.category
            if params.subCat
                h2.current-title= params.subCat
            else
                h2.current-title= params.category
        .dropdown
            button.btn.btn-secondary.dropdown-toggle#sort-by-btn( data-bs-toggle='dropdown' aria-expanded='false')
                | Sort By
            ul.dropdown-menu
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'bestsellers')) Bestsellers
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'rating')) highest rated
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'newest')) newest
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'oldest')) oldest
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'lowtohigh')) Low To High
                li
                    a.dropdown-item(href=sortByFunc(hostUrl,'hightolow')) High to low
    .shopping-container
        .left-filter
            //- if params.subCat
            //-     nav(aria-label='breadcrumb')
            //-         ol.breadcrumb
            //-             li.breadcrumb-item
            //-                 a(href='/') Noire 
            //-             li.breadcrumb-item
            //-                 a(href=`/shop/${params.category}`)=params.category 
            //-             li.breadcrumb-item.active(aria-current='page')= params.subCat
            //- else
            //-     nav(aria-label='breadcrumb')
            //-         ol.breadcrumb
            //-             li.breadcrumb-item
            //-                 a(href='/') Noire 
            //-             li.breadcrumb-item.active=params.category
            if params.category=='bra'
                h2.current-category= params.category
                a.sub-category(href="/shop/bra/bralette", target="_self") bralette
                a.sub-category(href="/shop/bra/push-up", target="_self") push up
                a.sub-category(href="/shop/bra/lace", target="_self") lace
                a.sub-category(href="/shop/bra/strapless", target="_self") strapless
            else if params.category=='panties'
                h2.current-category= params.category
                a.sub-category(href="/shop/panties/thong", target="_self") thong
                a.sub-category(href="/shop/panties/shorts", target="_self") shorts
                a.sub-category(href="/shop/panties/high-waist", target="_self") high waist
            else if params.category=='lingerie'
                h2.current-category= params.category
                a.sub-category(href="/shop/lingerie/bodysuit", target="_self") bodysuits
                a.sub-category(href="/shop/lingerie/corset", target="_self") corset
                a.sub-category(href="/shop/lingerie/curvy", target="_self") curvy
            else if params.category=='sleep'
                h2.current-category= params.category
                a.sub-category(href="/shop/sleep/pajamas", target="_self") pajamas
                a.sub-category(href="/shop/sleep/robes", target="_self") robes
                a.sub-category(href="/shop/sleep/slides", target="_self") slides
            #accordionPanelsStayOpenExample.accordion
                .accordion-item
                    h2#panelsStayOpen-headingOne.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseOne' aria-expanded='true' aria-controls='panelsStayOpen-collapseOne')
                            | Color
                    #panelsStayOpen-collapseOne.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingOne')
                        .accordion-body
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=pink&`  data-color='pink') pink
                                .circle(style='background-color:pink;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=blue&`  data-color='blue') blue
                                .circle(style='background-color:blue;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=teal&`  data-color='teal') teal
                                .circle(style='background-color:teal;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=black&`  data-color='black') black
                                .circle(style='background-color:black;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=purple&`  data-color='purple') purple
                                .circle(style='background-color:purple;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=red&`  data-color='red') red
                                .circle(style='background-color:red;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=tan&`  data-color='tan') nude
                                .circle(style='background-color:#E3BC9A;')
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=green&`  data-color='green') green
                                .circle(style='background-color:green;')  
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=yellow&`  data-color='yellow') yellow
                                .circle(style='background-color:yellow;')  
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=gold&`  data-color='gold') gold
                                .circle(style='background-color:gold;')  
                            .color-container
                                a.color.drop-item(href=`${hostUrl}color=brown&`  data-color='brown') brown
                                .circle(style='background-color:brown;')  
                .accordion-item
                    h2#panelsStayOpen-headingTwo.accordion-header
                        button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#panelsStayOpen-collapseTwo' aria-expanded='true' aria-controls='panelsStayOpen-collapseTwo')
                            | Size
                    #panelsStayOpen-collapseTwo.accordion-collapse.collapse(aria-labelledby='panelsStayOpen-headingTwo')
                        .accordion-body
                            a.size.drop-item(href=`${hostUrl}size=xs&`  data-size='xs') Xtra-Small
                            a.size.drop-item(href=`${hostUrl}size=s&`  data-size='s') Small
                            a.size.drop-item(href=`${hostUrl}size=m&`  data-size='m') Medium
                            a.size.drop-item(href=`${hostUrl}size=l&`  data-size='l') Large
                            a.size.drop-item(href=`${hostUrl}size=xl&`  data-size='xl') Xtra-Large
            if filter.color||filter.size
                .filter-container
                    if filter.color
                        a.filter-link(href=`${hostUrl.replace(`color=${filter.color}&`,'').slice(-1)=='?'?hostUrl.replace(`color=${filter.color}&`,'').replace('?',''):hostUrl.replace(`color=${filter.color}&`,'')}`, target="_self") 
                            button.filter-option-btn(type='button')  
                                h4(style='display:flex;')=filter.color
                                    .circle(style=`background-color:${filter.color}; width:12px;height:12px;top:6px;`)
                                h4.remove-btn &#10005
                    if filter.size
                        a.filter-link(href=`${hostUrl.replace(`size=${filter.size}&`,'').slice(-1)=='?'?hostUrl.replace(`size=${filter.size}&`,'').replace('?',''):hostUrl.replace(`size=${filter.size}&`,'')}`, target="_self") 
                            button.filter-option-btn(type=button) 
                                h4(style='')=filter.size.toUpperCase()
                                h4.remove-btn &#10005
                //- filters
            //- h2.filter-item price
            //- .priceSlider
            //-     .min-max
            //-         .min
            //-         span#min-value
            //-         .max
            //-         span#max-value
            //-     .min-max-range
            //-         input#min.range(type='range' min='5' max='250' value='5')
            //-         input#max.range(type='range'  max='250' value='250')
            //-     div(style='clear: both;')
        .products-container
            //- product item
            each product,index in productData
                .product-item-smaller(data-wishlist-item='0')
                        a(href=`/shop/${product.category.toLowerCase()}/${product.subCategory.toLowerCase()}/${product.ProductID}?color=${product.colors[0].color}`)
                            img.product-item-image(src=`/product-images/${product.category.toLowerCase()}/${product.subCategory.toLowerCase()}/${product.colors[0].images[0]}` alt='' srcset='' data-second-img=`/product-images/${product.category.toLowerCase()}/${product.subCategory.toLowerCase()}/${product.colors[0].images[1]}`)
                        button.wishlist-button.wishlist-add(type='button')
                            svg(stroke='#d6b5f4' fill='#d6b5f4' stroke-width='0' viewbox='0 0 512 512' color='#d6b5f4' height='2em' width='2em' xmlns='http://www.w3.org/2000/svg' style='color: rgb(24, 24, 30);')
                                path(d='M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z')

                        .product-color-container
                            each colorOpt in product.colors    
                                .circle.item-color(style=`background-color:${colorOpt.color};`)
                        a.item-link-text(href=`/shop/${product.category.toLowerCase()}/${product.subCategory.toLowerCase()}/${product.ProductID}?color=${product.colors[0].color}` style='text-decoration:none')
                            h2.product-title-smaller= product.name
                            h2.product-price-smaller= `$${product.price}`
                        if product.rating>0 && product.rating<=1
                            span.fa.fa-star.checked
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                        else if product.rating>1 && product.rating<=2
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star
                            span.fa.fa-star
                            span.fa.fa-star
                        else if product.rating>2 && product.rating<=3
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star
                            span.fa.fa-star
                        else if product.rating>3 && product.rating<=4
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star
                        else if product.rating>4 && product.rating<=5
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked
                            span.fa.fa-star.checked


            //- product item 
            .toast(role='alert' aria-live='assertive' aria-atomic='true')
                .toast-header
                    img.rounded.me-2(src='...' alt='...')
                    strong.me-auto Bootstrap
                    small.text-muted 11 mins ago
                    button.btn-close(type='button' data-bs-dismiss='toast' aria-label='Close')
                .toast-body
                    | Hello, world! This is a toast message.